body {
    height: 100vh;
    margin: 0;
    font-size: 30px;
}

.name-container {
    border-radius: 80px;
    width: 500px;
    height: 70px;
    padding: 0 24px 0 0px;
    position: relative;
    /* background-color: yellow; */
}

.social-med-opts {
    position: relative;
    margin: 74px 0px 0px 26px;
}

.container {
    /* background-color: yellow; */
    border-radius: 80px;
    width: 0px;
    padding: 0 24px 0 0px;
    position: relative;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.icon img {
    width: 30px;
    /* display: none; */
}

.ic-2out1 {
    position: absolute;
    bottom: 10px;
    left: -127.5%;
    display: none;
}

.ic-2out2 {
    position: absolute;
    bottom: 10px;
    left: -133%;
    display: none;
}

.ic-2out3 {
    position: absolute;
    bottom: 10px;
    left: -110%;
    display: none;
}

.ic-2out4 {
    position: absolute;
    bottom: 10px;
    left: -104%;
    display: none;
}

.fb-img {
    position: absolute;
    top: 30%;
    left: 11%;
}

.insta-img {
    position: absolute;
    top: 30%;
    left: 33%;
}

.github-img {
    position: absolute;
    top: 30%;
    left: 55%;
}

.x-img {
    position: absolute;
    top: 30%;
    left: 79%;
}

.fb-img:hover,.insta-img:hover, .github-img:hover, .x-img:hover{
    .ic-2out1, .ic-2out2, .ic-2out3, .ic-2out4{
        animation: show-icons 0.3s linear forwards;
        display: block;
    }
}

.fb {
    background-color: lightskyblue;
}

.insta {
    background: linear-gradient(to right, red, rgb(255, 183, 0));
}

.github {
    background-color: rgb(139, 102, 214);
}

.x {
    background-color: black;
}

.icon-name {
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    color: white;
    font-size: 0.5em;
    font-weight: 600;
    position: relative;
}

.point-1 {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    top: 84%;
    left: 43%;
}

.click {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.click img{
    padding: 6px 0 0px 7px;
    width: 34px;
    position: fixed;
    z-index: 1;
}
#check {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 0;
    opacity: 0;
}

/* #check:checked ~.container{
    display: block;
    background-color: black;
} */
@keyframes show-icons {
    from {
        bottom: 10%;
    }

    to {
        bottom: 140%;
    }
}

@keyframes expand {
    from {
        width: 0px;
    }

    to {
        width: 500px;
    }
}